// Variables and mixins
@import "variables";
@import "mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "normalize";
@import "base";

// Elements
@import "typography";
@import "asian";
@import "tables";
@import "buttons";
@import "forms";
@import "labels";
@import "codes";
@import "media";

// Layout
@import "layout";
@import "hero";
@import "navbar";

// Components
@import "accordions";
@import "avatars";
@import "badges";
@import "breadcrumbs";
@import "bars";
@import "cards";
@import "chips";
@import "dropdowns";
@import "empty";
@import "markdown";
@import "menus";
@import "modals";
@import "navs";
@import "pagination";
@import "panels";
@import "popovers";
@import "steps";
@import "tabs";
@import "tiles";
@import "toasts";
@import "tooltips";

// Utility classes
@import "animations";
@import "utilities";

/*! NEAR.css | MIT License */
body {
  background: $bg-color url('../img/dapp-bg.png');
  overflow: hidden;
}

.near-container {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: .5rem;
  width: 100vw;

  @media screen and (max-width: $size-md) {
    padding: 2rem 1.5rem;
  }

  .near-dapp {
    background: $light-color;
    border: .1rem solid rgba($dark-color, .1);
    border-radius: $border-radius;
    box-shadow: 0 .2rem 1rem rgba($dark-color, .05);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $size-xs;
    padding: .5rem 0;
    width: 100%;
  }

  .near-dapp-header {
    display: flex;
    height: 2.6rem;
    justify-content: space-between;
    padding: .5rem 1rem;

    .near-logo {
      height: 1.6rem;
    }
  }

  .near-user {
    .dropdown {
      height: 2rem;
    }

    .btn {
      max-width: 40vw;
      padding: 0 .5rem 0 0;

      &:focus,
      &:hover {
        background: $bg-color-dark;
        border-color: $border-color-light;
        color: $gray-color-dark;
      }
    }

    .btn-icon {
      background: $bg-color-light;
      border-radius: 50%;
      height: 1.6rem;
      margin: 0 .25rem 0 .05rem;
      padding: .3rem;
      width: 1.6rem;
    }
  }

  .near-dapp-body {
    height: 100%;
    overflow-y: auto;
    padding: .5rem 1rem;

    .near-balance {
      padding: .5rem;
      text-align: center;

      .near-balance-title {
        color: $gray-color-dark;
        font-size: .7rem;
      }

      .near-balance-funds {
        font-size: 2rem;
        font-weight: 900;
        line-height: 2rem;
      }

      .near-balance-actions {
        margin-top: 1rem;
      }
    }

    .near-tabs {
      display: flex;
      justify-content: center;
      padding: .5rem 0 1rem 0;
    }
  }

  .near-drop-item {
    border: .05 solid $bg-color;
    border-radius: .4rem;
    box-shadow: 0 .1rem 1rem rgba($dark-color, .05);
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: box-shadow .2s;

    &:hover {
      box-shadow: 0 .4rem 1rem rgba($dark-color, .1);
    }

    .drop-item-funds {
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.6rem;
      margin-bottom: .5rem;
    }

    .drop-item-pubkey {
      font-size: .6rem;
      margin-bottom: .5rem;
    }

    .drop-item-status {
      background: $secondary-color;
      color: $primary-color-light;
      font-size: .6rem;
      line-height: .8rem;
      padding: .2rem;
      position: absolute;
      right: -2.5rem;
      top: 1rem;
      text-align: center;
      text-transform: uppercase;
      transform: rotate(45deg);
      width: 8rem;
    }
  }

  .near-dapp-redpacket {
    background: darken($primary-color, 5%);
    border: .1rem solid darken($primary-color, 20%);
    box-shadow: 0 .1rem 1rem rgba($primary-color, .75);
    border-radius: .8rem;
    max-height: 35rem;
    max-width: 18.75rem;
    overflow: hidden;
    padding: 0;

    .near-redpacket-header {
      animation: re-slide-up 3s ease-in-out 1;
      background: linear-gradient(to bottom, darken($primary-color, 5%) 5%, darken($primary-color, 10%));
      border-radius: .8rem .8rem 0 0;
      flex: 1 1 65vh;
      height: 65vh;
      position: relative;
      transform: translateY(-45vh);
      z-index: 999;

      &::after,
      &::before {
        border-color: darken($primary-color, 10%) transparent transparent transparent;
        border-radius: 20px;
        border-style: solid;
        border-width: 2rem 20rem 0 20rem;
        content: '';
        display: block;
        height: 2rem;
        left: 50%;
        position: absolute;
        top: 99%;
        transform: translate(-50%, 0);
        width: 100%;
        z-index: 99;
      }

      &::before {
        border-top-color: darken($primary-color, 20%);
        transform: translate(-50%, .1rem);
        z-index: 99;
      }

      .redpacket-cover {
        display: block;
        height: 50vh;
        margin: 1rem auto;
        width: auto;
      }
  
      .redpacket-btn {
        animation: re-flip-btn 3s ease-in-out 1;
        align-items: center;
        background: linear-gradient(45deg, lighten($gold-color, 3%) 0, darken($gold-color-dark, 5%) 100%);
        border: .1rem solid rgba($dark-color, .1);
        border-radius: 50%;
        bottom: -4.5rem;
        box-shadow: 0 .2rem 1rem rgba($dark-color, .25);
        color: rgba($dark-color, .75);
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        height: 5rem;
        justify-content: center;
        left: calc(50% - 2.5rem);
        opacity: 0;
        position: absolute;
        user-select: none;
        width: 5rem;
        z-index: 999;
  
        &::after {
          border: .1rem solid rgba($dark-color, .05);
          border-radius: 50%;
          content: '';
          display: block;
          flex: 0 0 4rem;
          height: 4.4rem;
          left: .2rem;
          position: absolute;
          top: .2rem;
          width: 4.4rem;
        }
      }
    }

    .near-redpacket-body {
      background: darken($primary-color, 5%);
      height: 35vh;
      position: relative;

      .redpacket-content {
        bottom: 1.5rem;
        color: $gold-color-dark;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        text-align: center;
        text-shadow: 0 .2rem .5rem rgba($dark-color, .15);
        width: 100%;
  
        .redpacket-content-title {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.8rem;
          margin-bottom: .5rem;
        }
      }

      .redpacket-card {
        animation: re-slide-down 3s ease-in-out 1;
        background: linear-gradient(to bottom, darken($gold-color-dark, 3%) 0, darken($gold-color-dark, 8%) 100%);
        border: .1rem solid rgba($dark-color, .15);
        border-radius: .6rem;
        bottom: 4rem;
        color: darken($gold-color, 55%);
        display: flex;
        flex-direction: column;
        height: 78vh;
        left: 50%;
        max-height: 30rem;
        padding: 6rem 1.5rem 2rem 1.5rem;
        position: absolute;
        text-align: center;
        text-shadow: 0 .2rem .5rem rgba($dark-color, .15);
        transform: translate(-50%, 1rem);
        width: 70%;
        z-index: 99;

        &::after {
          border: .1rem solid rgba($dark-color, .05);
          border-radius: .6rem;
          bottom: .3rem;
          content: '';
          display: block;
          flex: 0 0 4rem;
          left: .3rem;
          position: absolute;
          right: .3rem;
          top: .3rem;
        }

        .redpacket-cover {
          display: block;
          height: 50vh;
          left: 50%;
          margin: 1rem auto;
          opacity: .5;
          position: absolute;
          top: 40%;
          transform: translate(-50%, -50%);
          width: auto;
          z-index: -1;
        }

        .redpacket-card-header {
          flex: 0 0 1rem;

          .h2 {
            font-size: 1.4rem;
          }
        }

        .redpacket-card-body {
          align-items: center;
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: center;

          .h1 {
            font-weight: 900;
          }
        }

        .redpacket-card-footer {
          align-items: center;
          display: flex;
          flex: 0 0 1rem;
          flex-direction: column;
          justify-content: center;
          margin-top: 2rem;

          .btn {
            position: relative;
            z-index: 999;
          }
        }
      }
    }
  }
}
//- Toast
.toast-wechat {
  background: darken($gold-color, 55%);
  border-radius: .2rem;
  box-shadow: 0 .2rem 2rem rgba(darken($gold-color, 55%), .75);
  color: lighten($gold-color, 15%);
  display: none;
  padding: .5rem 1rem;
  position: fixed;
  right: 1rem;
  top: .75rem;
  z-index: 9999;

  &::after {
    border-color: transparent transparent darken($gold-color, 55%) transparent;
    border-radius: $border-radius;
    border-style: solid;
    border-width: 0 .5rem .5rem .5rem;
    content: '';
    position: absolute;
    right: 1rem;
    top: -.4rem;
  }
}

//- Animations
@keyframes re-flip-btn {
  0% {
    opacity: 1;
    transform: rotateY(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateY(1080deg);
  }
}

@keyframes re-slide-up {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-45vh);
  }
}

@keyframes re-slide-down {
  0% {
    transform: translate(-50%, -100%);
  }
  50% {
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, 1rem);
  }
}
